<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Resource Manager</display-name>

  <filter>
     <filter-name>Security Filter</filter-name>
    <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/classes/security/security-filter.xml</param-value>
    </init-param> -->
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
      <description>Validate config file if set to true</description>
    </init-param>
    <init-param>
      <param-name>loginSubmitPattern</param-name>
      <param-value>/login.do</param-value>
      <description>
          As an example a login form can define "logMeIn" as it action in place of the standard
          "j_security_check" which is a special flag user by app servers for container managed security.
      </description>
    </init-param>
  </filter>

  <!-- Hibernate Filter -->
  <!-- 
  <filter>
    <filter-name>Hibernate Filter</filter-name>
    <filter-class>ar.com.dccsoft.skeleton.services.HibernateFilter</filter-class>
  </filter>
 -->
  <!-- DisplayTag Filter -->
  <filter> 
    <filter-name>ResponseOverrideFilter</filter-name> 
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class> 
  </filter>

  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- <filter-mapping>
    <filter-name>Hibernate Filter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>  -->
 
  <filter-mapping> 
    <filter-name>ResponseOverrideFilter</filter-name> 
    <url-pattern>*.do</url-pattern> 
  </filter-mapping> 
  
  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/classes/struts/struts-config.xml</param-value>
    </init-param>
     
    <init-param>
          <param-name>mapping</param-name>
          <param-value>ar.com.dailyMarket.dailyMapping.BaseActionMapping</param-value>
        </init-param>
    
    
    <!-- <init-param>
        <param-name>mapping</param-name>
        <param-value>ar.com.dccsoft.skeleton.ui.DCCSoftActionMapping</param-value>
        <param-value>ar.com.koalas.struts.vdispatches.VirtualDispatchAction</param-value> 
    </init-param>  --> 
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- QUARTZ Configuration -->
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
        <param-name>config-file</param-name>
        <param-value>quartz/quartz.properties</param-value>
    </init-param>
    <init-param>
        <param-name>shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>start-scheduler-on-load</param-name>
        <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- Session Configuration -->
  <session-config>
    <session-timeout>600</session-timeout>
  </session-config>

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-menu</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-menu.tld</taglib-location>
  </taglib>

  <!-- Displaytag Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/displaytag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/displaytag-12.tld</taglib-location>
  </taglib>

  <!-- Providers Tag Library Descriptors 
  <taglib>
    <taglib-uri>/tags/providers</taglib-uri>
    <taglib-location>/WEB-INF/taglib/providers.tld</taglib-location>
  </taglib> -->

  <!-- Skeleton Tag Library Descriptors 
  <taglib>
    <taglib-uri>/tags/skeleton</taglib-uri>
    <taglib-location>/WEB-INF/taglib/skeleton.tld</taglib-location>
  </taglib> -->
  
  <!-- Calendar Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/caltag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/caltag.tld</taglib-location>
  </taglib>
</web-app>
