<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Base de datos -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://%sql.server%/%sql.emergenciesDatabase%?autoReconnect=true </property>
		<property name="hibernate.connection.username">%sql.username%</property>
		<property name="hibernate.connection.password">%sql.password%</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Pool de conexiones -->
		<property name="hibernate.connection.provider_class">
			ar.com.tsoluciones.emergencies.server.hibernate.C3P0ConnectionProvider </property>
		<property name="hibernate.c3p0.max_size">80</property>
		<property name="hibernate.c3p0.min_size">50</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.validate">true</property>

		<!-- Isolation -->
		<property name="hibernate.connection.isolation">2</property>

		<!-- Configuracion JDBC -->
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.jdbc.use_streams_for_binary">false</property>

		<!-- Usar outer joins ? -->
		<property name="hibernate.use_outer_join">true</property>
		<property name="hibernate.max_fetch_depth">3</property>

		<!-- Optimizadores de performance -->
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Debug -->
		<property name="hibernate.show_sql">false</property>

		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">/etc/index/f911</property>

	
		<!-- Core -->
		<mapping resource="ar/com/tsoluciones/arcom/security/User.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/GroupUser.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/Product.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/GroupProduct.hbm.xml"/>	
		<mapping resource="ar/com/tsoluciones/arcom/security/ProductoVenta.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/SesionVenta.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/Sucursal.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/LoginHistory.hbm.xml"/>



	</session-factory>
</hibernate-configuration>
