<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Base de datos -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://%sql.server%/database=%sql.emergenciesDatabase%/user=%sql.username%/asciiStringParameters=true/disableStatementPooling=true </property>
		<property name="hibernate.connection.username">%sql.username%</property>
		<property name="hibernate.connection.password">%sql.password%</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Configuracion JDBC -->
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.jdbc.use_streams_for_binary">false</property>

		<!-- Usar outer joins ? -->
		<property name="hibernate.use_outer_join">true</property>
		<property name="hibernate.max_fetch_depth">3</property>

		<!-- Optimizadores de performance -->
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Debug -->
		<property name="hibernate.show_sql">false</property>

	
		<!-- Core -->
		<mapping resource="ar/com/tsoluciones/arcom/security/User.hbm.xml"/>
		<mapping resource="ar/com/tsoluciones/arcom/security/GroupUser.hbm.xml"/>
		

	</session-factory>
</hibernate-configuration>
