BODY
{
	background-color: #FFFFFF;
}

select {
    border-right: gray 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: gray 1px solid;
    font-size: 11px;
    font-family: "Courier New", Courier, mono
}

.calTitle { 
	font-size: 13px;
    font-family: Arial;
	font-weight: bold;
	padding-bottom:2px;
	background-image:url(images/menu/tit_menu_bg.jpg);
	color:#3aa5db; 
}

.calDate { 
	font-size:12px; 
	font-weight: bold; 
	font-family:Arial, sans-serif;
	background:  #FFFFFF;
	color: #666666;
}
