/* ***************************************************************************
	HTML 
	
	
*************************************************************************** */

BODY { 
padding:0 0 0 0;
margin:0 0 0 0;
font-family: Verdana, Arial;
font-size:11px;
background-color:#BABABA;
}


TABLE.body td.requerido  {
text-align:left;
font-family:Arial, Tahoma, Verdana;
font-size:11px;
height:30px;
width:85px;
font-weight:bold;
color:#000000;
text-decoration: none;}

TABLE { BORDER-RIGHT:0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;}

A{ COLOR: #868686 ; TEXT-DECORATION: none;}

A:hover {COLOR:#078CBE; TEXT-DECORATION: none;}

/* ***************************************************************************
	Layout
*************************************************************************** */

DIV.contenedor {width:98%; background-color:#FFFFFF; margin-left:10px; height: 100%;}

DIV.contenedor_locator {width:98%;height: 100%;}

DIV.contenedor .contenido {width:98%;}

DIV.contenedor_locator .contenido {background-color:#0290BE;width: 98%;}

TABLE.main_layout {width:100%;height:100%; margin:0px;}

TABLE.locator_layout {width:98%; height:100%;}

TABLE.body {width:100%; background-color:#FFFFFF; vertical-align:top;}

/* ***************************************************************************
	Login 
*************************************************************************** */
.login {
height:20px;
width:142px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
padding-left:2px;
background-color:#ffffff;
border:1px solid #999999;
}
   
.user {
background-color:#FFFFFF;
color:#999999;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-position:left;
padding-left:25px;
padding-right:5px;
padding-bottom:5px;
}


.celdas{
background-color: #999999;
border:1px;
}
   
p.error{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#FF0000;
padding-top:10px;
padding-left:25px;
}
	   
 
/* ***************************************************************************
	Header y footer 
*************************************************************************** */

.bienvenida{background-image:url(images/header/header03.jpg);background-position:left;background-repeat:no-repeat;font-family:Arial, Helvetica, sans-serif;font-size:11px;
		font-weight:bold;vertical-align:middle;color:#475358;padding-left:15px;text-align:center;} 


.bienvenida2{ background-image:url(images/header/header04.jpg);background-position:left;background-repeat:no-repeat;font-family:Arial, Helvetica, sans-serif;
		font-size:11px;font-weight:bold;color:#475358;vertical-align:middle;padding-left:15px;text-align:center;}

.logout{
height:31px;
background-image:url(images/header/pixel.jpg);
background-position:left;
background-repeat:repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color: #FFFFFF;
text-align:right;
}

.logout2{
height:31px;
background-image:url(images/header/pixel2.jpg);
background-position:left;
background-repeat:repeat-x;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color: #FFFFFF;
text-align:right;
}

TD.logout TABLE.bullets TD a img { margin-top:-4px; *margin-top:-3px; }
TD.logout2 TABLE.bullets TD a img { margin-top:-4px; *margin-top:-3px; }


		
/* ***************************************************************************
	Menu
*************************************************************************** */

.titleCeleste{
background-image:url(images/common/pixelCeleste.jpg);
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:740px;
color:#333333;
text-align:left;
padding-left:10px;
}


/* ***************************************************************************
	Tabs
*************************************************************************** */

.titulo{
font-family:Arial, Helvetica, sans-serif;
color:#00FF66;
font-weight:bold;
font-size:12px;
padding:3px;
}

TABLE.tabs { background-color:#0197BC;}

TABLE.tabs th.space { margin:0px; width:5px;}

TABLE TH.Act{
background-color:#ffffff;
height:25px;
width:15%;
color:#24A2C9;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
padding:8px;
vertical-align:middle;
border-left:1px solid #007C9B;
border-right:1px solid #007C9B;
text-align:center;
text-transform:uppercase;
padding-top:10px;
}

TABLE TH.inAct{
height:25px;
width:15%;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
padding:8px;
vertical-align:middle;
border-right:1px solid #007C9B;
border-left:1px solid #007C9B;
text-align:center;
text-transform:uppercase;
padding-top:10px;}

TABLE TH.inAct a{ color:#5ACCED;}

TD.borderTab{
border-bottom:1px solid #cccccc;
}


TABLE TD.tabDesact{
padding:0px;
margin:0px;
padding-top:3px;
width:20%;
background-color:#EFF5F9;
height:20px;
color:#929EA3;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px; 
vertical-align:middle;
text-align:center;
text-transform:uppercase;
border:1px solid #D4D0C8;
border-bottom:1px solid #cccccc;
}

TABLE TD.espacio {
width:2px;
border-bottom:1px solid #cccccc; 
}

TABLE.form TABLE.subTabs TD.act{
background-color:#BDD9FE;
color:#0091B7;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:center;
border:1px solid #ffffff;
border-bottom:none;
border-left:none;
width:17%;
text-transform:uppercase;
height:27px;
}

TABLE.form TABLE.subTabs TH.desAct{
height:28px;
width:17%;
background-image: url(images/tabs/tabDesact.jpg);
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:10px;
border:2px solid #ffffff;
border-bottom:none;
color:#666666;
padding-top:5px;
padding-left:10px;
}

TABLE.form TABLE.subTabs{
background-color:#ffffff;
}


.tabDesact a:hover{color:#395E75;}

.tableLeft{height:10px;background-color:#C9DDEB;border-left:1px solid #4F80A0;}

.tableRight{background-color:#C9DDEB;height:10px;border-top:1px solid #4F80A0;border-right:1px solid #4F80A0;}

.tableCenter{background-color:#C9DDEB;border-left:1px solid #4F80A0;border-right:1px solid #4F80A0;}

.tableAbajo{background-color:#C9DDEB;border-left:1px solid #4F80A0;border-right:1px solid #4F80A0;border-bottom:1px solid #4F80A0;}


/* ***************************************************************************
	Tablas en proceso
*************************************************************************** */
.tabla1{
border:1px solid #999999;
}

.titulotabla{
font-family:Arial, Helvetica, sans-serif;
color:#999999;
font-size:12px;
padding-left:4px;
text-align:left;
background-color:#F4F4F4;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
border-top:#999999 solid 1px;
}

TH.titulotabla{
font-family:Arial, Helvetica, sans-serif;
color:#999999;
font-size:12px;
padding-left:4px;
text-align:left;
background-color:#F4F4F4;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
border-top:#999999 solid 1px;
border-left:#999999 solid 1px;
}

.titulotabla2{
font-family:Arial, Helvetica, sans-serif;
color:#999999;
font-size:12px;
padding-left:4px;
text-align:left;
background-color:#F4F4F4;
border-bottom:#999999 solid 1px;
border-right: #999999 solid 1px;
border-top:#999999 solid 1px;
border-bottom:#999999 solid 1px;
}

TD.datostabla {
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:13px;
padding-left:4px;
text-align:left;
font-weight:bold;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
}

TH.datostabla {
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:13px;
padding-left:4px;
text-align:left;
font-weight:bold;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
border-left:#999999 solid 1px;
}




TABLE TD.datostabla2{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:13px;
padding-left:4px;
text-align:left;
font-weight:bold;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
}



.icono1{
background-image:url(images/common/icono1.jpg);
background-repeat:no-repeat;
background-position:center;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
}

.tilde{
background-image:url(images/common/tilde.gif);
background-repeat:no-repeat;
background-position:center;
border-right: #999999 solid 1px;
border-bottom:#999999 solid 1px;
}

.pietabla{
font-family:Arial, Helvetica, sans-serif;
color:#00A4CC;
font-weight:bold;
font-size:12px;
padding-left:15px;
background-color:#B0D5FD;
}

.nuevoparte{
background-image:url(images/common/flechabot.jpg);
background-repeat:no-repeat;
background-position: right;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-weight:bold;
font-size:12px;
padding-left:5px;
background-color:#F1F7FF;
}

.lineapuntos{
background-image:url(images/common/punto.jpg);
background-repeat:repeat;
}





/********************* TABLA PARTE DIARIO ********************************/

TABLE.form TABLE.subTabs TABLE.reporte, TABLE.reporte, TABLE.form TABLE.subTabs TABLE.reporte TD, TABLE.reporte TD{
background-color:#FFFFFF;
}

/*
TABLE.reporte {
width:80%;
}
*/

TABLE.form TABLE.subTabs TABLE.reporte TH.referencias{ 
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
background-color:#f4f4f4;
height:25px;
text-align:center;
font-weight:normal;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
border-left:1px solid #999999;
}


TABLE.form TABLE.reporte TH.referencias{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
background-color:#f4f4f4;
height:25px;
text-align:right;
font-weight:bold;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
border-left:1px solid #999999;
padding-right:5px;
padding-left:5px;
}



TABLE.form TABLE.subTabs  TABLE.reporte TD.referencias, TABLE.reporte TD.referencias, TABLE.reporteRemesa TD.referencias{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-weight:normal;
background-color:#f4f4f4;
height:25px;
text-align:center;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
border-left:1px solid #999999;
border-right:1px solid #999999;
}


TABLE.reporte TH.referencias2{
text-align:center;
}


TABLE.form TD.descripcion {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#405765;
height:15px;
padding-left:15px;
padding-top:5px;
}

TABLE.form TH.descripcion {
text-align:left;
height:15px;
padding-left:15px;
padding-top:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#1F333F;}



TABLE.form TABLE.subTabs TABLE.reporte TD, TABLE.form TABLE.reporte TD {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
border-bottom:1px solid #999999;
border-left:1px solid #999999;
border-right:1px solid #999999;
font-weight:bold;
padding-right:5px;
color:#666666;
text-align:right;
}

TABLE.form TABLE.reporte TD input, TABLE.form TABLE.reporte TH input{
text-align:right;
}

TABLE.form TD TABLE.reporte TH{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:central;
border-bottom:1px solid #999999;
border-left:1px solid #999999;
font-weight:bold;
padding-right:5px;
color:#666666;
text-align:right;
}


TABLE.form TABLE.subTabs TABLE.reporte TH{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:central;
border-bottom:1px solid #999999;
border-left:1px solid #999999;
font-weight:bold;
padding-right:5px;
color:#666666;
text-align:right;

}

TABLE.form TABLE.subTabs TABLE.reporte TH input, TABLE.form TABLE.subTabs TABLE.reporte TD input{
border:none;
/*width:80px;*/
}

TABLE.form TABLE.reporte TH input{
border:none;
width:50px;
}

TABLE.form TABLE.reporte TD input{
border:none;
width:80px;
}

TABLE.form TABLE.reporte TD.certificacion input ,TABLE.form TABLE.reporteRemesa TD.certificacion input{
border:none;
width:50px;
}
/**************** BOTONES **********************/

TABLE.buttons1, TABLE.buttons2  {
align:right;
width:17%;
}
TABLE.form TABLE.reporte TABLE.buttons {
width:70%;
margin-right:9px;
border-bottom:none;
vertical-align:middle;
margin-bottom:2px;
}

TABLE.form TABLE.reporteRemesa {
width:800px;
}

TABLE.form TABLE.reporteRemesa TD.certificacion {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
text-align:left;
}

TABLE.form TABLE.reporte TABLE.buttons TD.btn, TABLE.buttons2 TD.btn{
background-image:url(images/common/btn_pixel.jpg);
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#E7F1FE;
padding-top:2px;
border-bottom:1px solid #489BF7;
border-left:1px solid #ffffff;
border-top:1px solid #ffffff;
border-right:1px solid #ffffff;
vertical-align:middle;
text-align:center;
font-size:11px;
text-transform:uppercase;
text-decoration:none;
}

TABLE.list TR.odd TABLE.buttons1, TABLE.list TR.even TABLE.buttons1, TABLE.list TR.even TABLE.buttons2, TABLE.list TR.odd TABLE.buttons2 {
text-align:center;
width:87px;
border:none;
}

TABLE.list TR.odd TABLE.buttons1 TD.btn, TABLE.list TR.even TABLE.buttons1 TD.btn, TABLE.list TR.even TABLE.buttons2 TD.btn, TABLE.list TR.odd TABLE.buttons2 TD.btn{
background-image:url(images/common/btn_pixel2.jpg);
border:none;
}

TABLE.list TR.odd TABLE.buttons1 TD.btn a, TABLE.list TR.even TABLE.buttons1 TD.btn a{
height:21px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#ffffff;
padding-top:5px;
text-transform:uppercase;
text-align:center;
font-size:11px;
text-decoration:none;
cursor:pointer;
border:none;
}

TABLE.list TR.even TABLE.buttons2 TD.btn a, TABLE.list TR.odd TABLE.buttons2 TD.btn a{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
height:21px;
padding-top:5px;
color:#ffffff;
text-transform:uppercase;
font-size:11px;
text-decoration:none;
cursor:pointer;
border:none;
}

TABLE.form TABLE.buttons1 TD.btn a, TABLE.form TABLE.buttons TD.btn a {
color:#FFFFFF;
}

TABLE.form TABLE.buttons1 TD.btn a:hover,TABLE.list TR.odd TABLE.buttons1 TD.btn a:hover, TABLE.list TR.even TABLE.buttons1 TD.btn a:hover,
TABLE.form TABLE.buttons TD.btn a:hover
{
color:#00809F;
}


TABLE.buttons input.btn, TABLE.form TABLE.buttons1 TD.btn  {
background-image:url(images/common/btn_pixel.jpg);
height:27px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#E7F1FE;
text-align:center;
padding-top:5px;
font-size:12px;
text-transform:uppercase;
text-decoration:none;
cursor:pointer;
border:none;
}

TD.nuevoPedido, TD.nuevoPedido input{
width:120px;
background-color:#D2E3F7;
height:25px;
border:1px solid #A5C7EF;
font-size:11px;
text-align:center;
text-transform:uppercase;
vertical-align:middle;
text-decoration:none;
}

TD.nuevoPedido a{
color:#0B92DF;
width:100%;
padding-left:12px;
}

/*********************** nuevo *************************/


TABLE.body TD.inciarOrden{
text-align:center;
height:28px;
background-image:url(images/common/bullet.gif);
background-position:left;
padding-left:10px;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
}

TD.inciarOrden a, TABLE.body TD.inciarOrden a{
color:#008EB1;
vertical-align:top;
}


TD.inciarOrden a:hover, TABLE.body TD.inciarOrden a:hover {
color:#cccccc;
}

TABLE.body TD.inciarOrdenLeft{
text-align:left;
height:28px;
background-image:url(images/common/bullet.gif);
background-position:left;
padding-left:10px;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
}

TABLE.body TD.linkButton{border:1px solid #C9DDEB;
text-align:center;
height:28px;
background-position:left;
padding-left:10px;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
}

TD.inciarOrdenLeft a, TABLE.body TD.inciarOrdenLeft a{
color:#008EB1;
vertical-align:top;
}


TD.inciarOrdenLeft a:hover, TABLE.body TD.inciarOrdenLeft a:hover {
color:#cccccc;
}

TABLE.loginOper { padding-left:5px;padding-top:10px;height:45px;background-image:url(images/common/pixSubmit.jpg);}

TABLE.loginOper TD input{border:1px solid #C9DDEB;}

TABLE.loginOper TH input {width:12px;border:none;}

.btn a:hover {text-decoration:none;color:#999999;}


TD.partesenproceso{
background-repeat:repeat-x;
height:25px;
color:#00A8C2;
font-family:Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
}


/* ***************************************************************************
	Charts	
*************************************************************************** */


TABLE.chart TD.grafico {text-align:center;vertical-align:middle;}

.content, .shadow, .content2, .shadow, .content3, .shadow {position: relative;bottom: 4px;right: 4px;}

.shadow { background-color: #4E5C63; }

.content {background-color: #fff;color: #000;border:1px solid #C9DDEB;padding: 0.5em;}

.content2 {background-color: #fff;color: #000;border:1px solid #C9DDEB;padding-top:15px;padding-bottom:35px;}

.content3 {background-color: #fff;color: #000;border:1px solid #C9DDEB;width:350px;padding-bottom:70px;}

.container  { width: 250px; }

.container1  { width: 250px;}
  

/* ***************************************************************************
	Forms
	
*************************************************************************** */
H3.errors {
color:red;
font-size:11px;
padding-left:25px;
}

UL.errors LI {color:red;font-size:11px;}


h1.formtitle {
background: url(images/common/bullet2.jpg) no-repeat left;
font-size:14px;
color:#24A2C9;
font-family:Arial, Helvetica, sans-serif;
vertical-align:middle;
padding-top:10px;
padding-left:20px;
padding-bottom:10px;
font-weight:bold;
margin:0 0 0 0;
margin-left:36px;}

td.formtitle2{
font-size:11px;
color:#ffffff;
padding-top:5px;
padding-bottom:5px;
FONT-FAMILY:Arial, Helvetica, sans-serif;
text-transform:uppercase;
vertical-align:middle;
padding-left:10px;
border-bottom:5px solid #FFFFFF;
font-weight:bold;
background-color:#00A4CC;
margin:0 0 0 0;}

td.formtitle2 a { color:#FFFFFF;}

H1.formtitle3{
font-size:11px;
color:#666666;
padding-left:5px;
FONT-FAMILY:Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-weight:normal;
margin:0 0 0 0;
}

TABLE.form {width:96%;}
	
TABLE.body TD.separador, TABLE.form TD.separador{height:20px;background-color:#98B8CD;}
	
TABLE.searchform {
width:98%;
background-color:#FFFFFF;}

TD.tableCenter TABLE.form th{
color:#1F333F;
padding-left:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-align:left;
}

TABLE.searchform th a{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}

TABLE.searchform TH.radio input{border:none;}

TD.tableCenter TABLE.par td{background-color:#B4CBDB;vertical-align:middle;color:#3F4649;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:100;text-align:left;padding-left:5px;height:31px;
}

TD.tableCenter TABLE.impar td{background-color:#C4D7E3;vertical-align:middle;color:#3F4649;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:100;text-align:left;padding-left:5px;height:31px;
}

TD.tableCenter TABLE.form td.btnOrden {background-image:url(images/common/btnOrden.jpg);height:31px;}


.tableActiva, .tableInact{background-color:#bebebe;}

.tableActiva td {color:#DF0000;border:1px solid #8c8c8c;height:30px;border:1px solid #8c8c8c;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding-left:10px;
                 font-weight:bold;text-align:left;}

.tableInact td {color:#ffffff;border:1px solid #8c8c8c;height:30px;border:1px solid #8c8c8c;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding-left:10px;
                font-weight:bold;text-align:left;}
				
TABLE.form TH.required, TD.fileHeader, TABLE.searchform TH.required, TD.fileHeader {
text-align:left;
padding-left:40px;
font-family:Arial, Tahoma, Verdana;
font-size:11px;
height:30px;
font-weight:bold;
color:#000000;
width:180px;
text-decoration: none;
line-height:13px;
}

TABLE.hora { width:850px; }

TABLE.hora TH.required {width:150px;}
TABLE.hora TH.required input { width:80px;}

TABLE.body TH.required{
text-align:left;
padding-left:20px;
font-family:Arial, Tahoma, Verdana;
font-size:11px;
height:30px;
font-weight:bold;
color:#000000;
width:10px;
text-decoration: none;
line-height:13px;
}



TABLE.searchform TH.noRequired, TABLE.form TH.noRequired,  TABLE.searchform TD.noRequired{
text-align:left;
padding-left:40px;
font-family:Arial, Tahoma, Verdana;
font-size:12px;
height:30px;
font-weight:normal;
color:#000000;
width:180px;
text-decoration: none;
line-height:13px;}

TABLE.reporteRemesa TH.noRequired2 {
text-align:left;
font-family:Arial, Tahoma, Verdana;
font-size:11px;
padding-left:20px;
height:30px;
font-weight:normal;
color:#000000;
text-decoration: none;
vertical-align:top;}

TABLE.reporteRemesa TH.noRequired3 {
text-align:left;
font-family:Arial, Tahoma, Verdana;
font-size:12px;
height:30px;
font-weight:normal;
color:#000000;
width:220px;
line-height:13px;}
	


TABLE.form TH, TABLE.searchform TH {
text-align:left;
font-family: Arial, Tahoma, Verdana;
font-size:12px;
padding-left:17px;
font-weight:normal;
color:#666666;
text-decoration:none;
line-height:13px;
padding-right:3px;
width:3%;}

TABLE.form TH.item{font-family:Arial, Helvetica, sans-serif;font-size:10px;padding-left:70px;}

TABLE.form TH.item input{font-family:Arial, Helvetica, sans-serif;font-size:10px;padding-left:70px;border:none;}


TABLE.form TD, TABLE.searchform, {font-family: Tahoma, Verdana, Arial;font-size:12px;color:#1F333F;text-decoration: none;text-align:left;font-weight:bold;}
	



TABLE.form TD.valuado{text-align:right;width:85%;height:40px;padding-top:10px;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding-bottom:6px;text-align:right;
                      font-weight:bold;color:#ffffff;}


TABLE.valuation TD.amount input{text-align:right;}


TABLE.form TH.valuado{
font-family:Arial, Helvetica, sans-serif;font-size:12px;width:5%;height:40px;padding-top:10px;padding-bottom:6px;font-weight:bold;color:#ffffff;text-align:right;}


TABLE.componente TD, TABLE.componente TH{
color:#2F3537;border-bottom:1px solid #859298;padding-left:25px;padding-bottom:5px;padding-top:5px;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}


TABLE.componente TD.derecha{
padding-right:30px;text-align:right;font-size:12px;font-weight:bold;}



TABLE.total{
background-image:url(images/common/pixelTotal.gif);height:25px;}


TABLE.total TD{
font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#ffffff;text-align:right;}


TABLE.total TH{
font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#ffffff;text-align:left;}


TABLE.form TD.operator  {width:50px;}


TABLE.form TD select, TABLE.searchform TD select {
    font-size:12px; height:20px;font-weight:normal;border:1px solid #CCCCCC;}



TABLE.form TD INPUT , TABLE.searchform TD INPUT {
background-color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
border:1px solid #CCCCCC;}


TABLE.form TD.codigo {
color:#000000;height:40px;padding-left:40px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
 
				 
TABLE.form TD TEXTAREA, TABLE.searchform TD TEXTAREA{
    font-family: Tahoma, Verdana, Arial;font-size: 11px;border:1px solid #4D7084;color: #666666;text-decoration: none;text-align: left;}


TABLE.form TH.principal {
background-image:url(images/common/principal.jpg);
height:37px;
padding-bottom:5px;
padding-left:20px;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:12px;
}

TABLE.form TD.principal{
background-image:url(images/common/principal.jpg);
height:37px;
padding-bottom:5px;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-weight:bold;
font-size:12px;
text-align:left;
}



/* ***************************************************************************
	DisplayTag 
*************************************************************************** */

.pagebanner {
color:#516066;
width:100%;
padding-left:30px;
height:25px;
padding-top:5px; 
font-size: 11px;
font-family: Verdana, Arial;
text-decoration: none;
display:block;
text-align:left;
}

.bannerselect {
color:#516066;
height:20px;
font-size:11px;
font-family:Verdana, Arial;
text-decoration:none;
padding-left:30px;
display:block;
valign:middle;
text-align:left;
}

.bannerselect A:hover {
color:#CCCCCC; 
text-decoration: none;
}


.pagelinks {
    color:#475358; 
	width: 100%;
	margin: 0 0 0 0;
	padding:  10px 5px 0;
	padding-top:2px;
	padding-bottom:3px;
	padding-left:30px;
	font-weight: bold; 
    font-size: 11px; 
    font-family: Verdana, Arial; 
    text-decoration: none;
	display: block;
	text-align:left;
}


.pagelinks  a {
    color:#475358; 
	text-decoration:underline;
	
}


.pagelinks  A:hover {
    color:#cccccc; 
	
}

TABLE.list {
color:#2F3537;
width:96%;
border:1px solid #cccccc;
border-bottom:none;
font-size:11px;
font-family: Verdana, Arial; 
text-decoration:none;
margin-right:8px;
background-color: #F2F2F2;
}

TABLE.list2 {
color:#2F3537;
width:100%;
border:1px solid #cccccc;
border-bottom:none;
font-size:11px;
font-family: Verdana, Arial; 
text-decoration:none;
background-color:#F2F2F2;
}

TABLE.list a, TABLE.list2 a {
color:#2F3537;
}

TABLE.list  th, TABLE.list2  th  {
color:#2F3537;
height:20px;
/*border-right:1px solid #cccccc;*/
border-bottom:1px solid #cccccc;
font-size: 11px;
padding-bottom:5px;
font-family: Verdana, Arial;
font-weight:normal;
text-align:left;
text-decoration: none;word-spacing: 0px;
letter-spacing: 0px;
white-space: 3 ;
padding-left:5px;
padding-top:5px;
}

TABLE.list  td, TABLE.list2  td{
border-bottom:1px solid #cccccc;
}

TABLE.list TR.odd, TABLE.list2 TR.odd  {
color:#676767;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
height:28px;
text-decoration:none;
background-color:#FFFFFF;
}

TABLE.list TR.odd TD, TABLE.list TR.even TD, TABLE.list2 TR.even TD, TABLE.list2 TR.odd TD {
padding-left:5px;
border-bottom:1px solid #cccccc;
}

TABLE.list TR.even, TABLE.list2 TR.even {
color:#676767;
height:28px;
padding-left:15px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight:normal;
background-color:#FFFFFF;
}


TABLE TD.notes textarea {
padding:4px;
border:1px solid #999999;
}

TABLE.separacion {
width:97%;
height:50px;
border:1px solid #cccccc;
}
TABLE.separacion TD {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-left:15px;
}

TABLE.separacion TD input{
font-family: arial, serif, Tahoma;
font-size:11px;
border: 1px solid #cccccc;
}
TABLE.separacion TD TABLE.buttons3{
width:150px;
}


TABLE.separacion TD TABLE.buttons3 TD.btn {
background-image:url(images/common/btn_pixel2.jpg);
height:22px;
}

TABLE.separacion TD TABLE.buttons3 TD.btn A {
color: #FFFFFF;
font-family: arial, serif, Tahoma;
font-size:11px;
}

TABLE.stock {
width:90%;
}

TABLE.stock TH {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
text-align:left;
width:80px;
}

TABLE.stock TD  {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#000000;
}


TABLE.stock TD a {
border:1px solid #cccccc;
height:25px;
background-color:#D6E4EF;
text-align:center;
width:250px;
padding-top:5px;
}

TABLE.form TD.formulario {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-align:left;
font-weight:normal;
}


/* ***************************************************************************
	CAMIONES
*************************************************************************** */

Table.form TD.fondo_on_nuevo{
background-image:url(images/camiones/nuevo_on.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#3189AF;
font-size:30px;}

Table.form TD.fondo_off_nuevo{
background-image:url(images/camiones/nuevo_off.png);
background-repeat:no-repeat;
height:100px;
text-align:center;
width:157px;
font-family:Arial, Helvetica, sans-serif;
color:#D0D2D3;
font-size:30px;}

Table.form TD.fondo_on_carga{
background-image:url(images/camiones/carga_on.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#3189AF;
font-size:30px;
}

Table.form TD.fondo_off_carga{
background-image:url(images/camiones/carga_off.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#D0D2D3;
font-size:30px;}

Table.form TD.fondo_on_descarga{
background-image:url(images/camiones/descarga_on.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#3189AF;
font-size:30px;}

Table.form TD.fondo_off_descarga{
background-image:url(images/camiones/descarga_off.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#D0D2D3;
font-size:30px;}

Table.form TD.fondo_on_fin{
background-image:url(images/camiones/fin_on.png);
background-repeat:no-repeat;
width:157px;
height:100px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#3189AF;
font-size:30px;}

Table.form TD.fondo_off_fin{
background-image:url(images/camiones/fin_off.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#D0D2D3;
font-size:30px;}

Table.form TD.fondo_on_nominado{
background-image:url(images/camiones/nominado_on.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#3189AF;
font-size:30px;}

Table.form TD.fondo_off_nominado{
background-image:url(images/camiones/nominado_off.png);
background-repeat:no-repeat;
height:100px;
width:157px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#D0D2D3;
font-size:30px;}

TH.required Table.control { 
border:1px solid #ADD9F5;
width:600px;}

TH.required Table.control th {background-color:#dbeefb; height:20px; vertical-align:middle; border:1px solid #ffffff; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; }

TH.required Table.control td input { background-color:#ffffff; border:1px solid #dbeefb;} 

TABLE TD.stock { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333333;  font-weight:bold;}
TABLE.agregarViaje { border:1px solid #dbeefb; margin-left:40px; *margin-left:-15px;  margin-top:10px; }
TABLE.agregarViaje TR.date { background-color:#dbeefb;}

.autocomplete {
    width:30em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}

.autocomplete-pat {
    width:5em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}