/* CSS Document */

.menu,.submenu {
	
	display: none;  
}

td {
	vertical-align:middle;
}

A.actuator{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-decoration:none;
	vertical-align:middle;
	font-variant: normal;
}

A.actuator:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-decoration:none;
	vertical-align:middle;
	font-variant: normal;
	
}

tr.tractmenu td table tr td, tr.tractsubmenu td table tr td{
	width: 120px;
	height:17px;
	background-image:url(images/menu/tit_menu_bg.jpg);
}
	
tr.tractmenu td table tr td{
	padding-left:2px;
	
}

tr.tractsubmenu td table tr td{
	padding-left:0px;
	
}
	
td.item {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	vertical-align:middle;
	padding-left:0px;
	height:21px;
	
}


TD.item A:visited, TD.item A:link{
	COLOR: #003399;
	text-decoration:none;
}

TD.item A:hover {
	text-decoration:none;
	COLOR: #ffffff;
}
